<!-- Extendendo o arquivo base -->
 {% extends 'base.html' %}

<!-- Criando o block -->
 {% block content %}
    <div class="container">
        <div class="row mt-4">
        <h3>Envio de Contato</h3>

        <!-- Criando o formulário -->
            <form action="" method="post" class="row mt-4 p-4 rounded border shadow">

            <!-- Adicionando o nivel de segurança -->
            {{ form.csrf_token }}

            <!-- Campo de nome -->
            {{ form.nome.label() }}
            <!-- Posso adicionar caracteristicas HTML dentro da form -->
            {{ form.nome(class='form-control') }}

            <!-- Campo E-mail -->
            {{ form.email.label() }}
            {{ form.email(class='form-control') }}

            <!-- Campo assunto -->
            {{ form.assunto.label() }}
            {{ form.assunto(class='form-control') }}

            <!-- Campo mensagem -->
            {{ form.mensagem.label() }}
            {{ form.mensagem(class='form-control') }}

            <!-- Botão -->
            {{ form.btn_submit(class='btn btn-dark col-12 mt-3') }}
            </form>

        </div>
    </div>
<!-- Fechando o bloco -->
{% endblock %}