<!-- Pegando a base para o arquivo -->
 {% extends 'base.html'%}

<!-- Inicio do bloco -->
{% block content %}

<div class="container">

    <!-- Incluindo o código do nav.html -->
    {% include 'nav.html' %}

    <hr>

    <div>
        <!-- Botão para tela de cadastro SE o usuário não estiver logado -->
        {% if not current_user.is_authenticated %}

            <!-- Criando o formulário -->
            <form action="" method="post" class="row mt-4 p-4 rounded border shadow">
                <h3>Faça seu login</h3>
                <!-- Adicionando o nivel de segurança -->
                {{ form.csrf_token }}

                <!-- Campo email -->
                {{ form.email.label() }}
                {{ form.email(class='form-control') }}
    
                <!-- Campo senha -->
                {{ form.senha.label() }}
                {{ form.senha(class='form-control') }}

                <!-- Botão -->
                {{ form.btn_submit(class='btn btn-dark col-12 mt-3') }}

                <div class="col-12 mt-4">Não tem cadastro? <a href="{{ url_for('cadastro') }}" >Clique aqui e Cadastre-se</a></div>
            </form>

        {% else %}
            <span class="btn btn-primary">{{ current_user.nome }} {{ current_user.sobrenome }}</span>
            <a href="{{ url_for('logout')}}" class="btn btn-danger">Sair</a>
        {% endif %}
        <hr>
        <!-- Pegando a imagem na pasta static -->
        <img src="{{ url_for('static', filename='img/logo.png') }}">

    </div>

</div>
<!-- Fim do bloco -->
 {% endblock %}