<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudo Flask</title>
    </head>

    <body>
        <div>
            <h3>Estudo Flask</h3>
            <h5>@campcodebrasil</h5>
        </div>

        <div>
            <!-- Chaves duplcas para fazer o HTML buscar a variável no template -->
            <p>Bem vindo {{context.usuario}} à aula de Flask!!!</p>
            <p><b>Idade: </b>{{context.idade}}</p>

            <!-- Redirecionando para a nova página usando o URL_FOR importado na views e apontando a função que ele deve retornar
             IMPORTANTE pois ele vai refericiar o link dinamicamente. -->
            <a href="{{url_for('contato')}}">Contato</a>

        </div>
    </body>

</html>