<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudo Flask</title>
    </head>

    <body>
        <div>
            <h3>Estudo Flask</h3>
            <h5>@campcodebrasil</h5>
        </div>

        <div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In earum optio eos minima molestiae, accusantium quaerat quod cumque ratione esse, quo laborum ipsa autem magnam illo ipsam molestias impedit cum!</p>
        </div>
    </body>

</html>